<header th:fragment="navbar" class="flex flex-wrap z-20 w-full pb-6 border-b">
  <nav class="w-full mx-auto px-4" aria-label="Global">
    <div class="flex flex-row text-gray-800 items-center gap-5 justify-end">
      <a href="#"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
          />
        </svg>
      </a>
      <a href="/user-profile" class="w-10 rounded-full"
        ><img
          src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250"
          class="rounded-full"
      /></a>
    </div>
  </nav>
</header>
