<header th:fragment="navbar" class="flex flex-wrap z-20 w-full pb-6 border-b">
  <nav class="w-full mx-auto px-4" aria-label="Global">
    <div class="flex flex-row text-gray-800 items-center gap-5 justify-end">
      <div class="hs-dropdown relative inline-flex">
        <button id="notifications" type="button" class="hs-dropdown-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
            />
          </svg>
        </button>
        <div
          class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 z-50 bg-white shadow-md rounded-lg mt-2 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
          aria-labelledby="notifications"
        >
          <div
            class="bg-gray-100 py-2 px-3 uppercase rounded-t-lg text-xs font-medium text-gray-500"
          >
            Notifications
          </div>
          <div class="p-2">
            <p th:if="${notifications.isEmpty()}" class="text-xs py-2 px-3">
              No new notifcations
            </p>
            <div
              th:each="notification : ${notifications}"
              class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 focus:outline-none focus:bg-gray-100"
            >
              <div class="flex flex-col">
                <p th:text="${notification.sender.username}"></p>
                <p th:text="${notification.message}" class="text-xs"></p>
              </div>
              <div
                class="flex items-center gap-x-3.5"
                th:if="${notification.type == 'REGISTRATION_APPROVAL'}"
              >
                <form action="/approveUser" method="post">
                  <input
                    type="hidden"
                    name="senderId"
                    th:value="${notification.senderId}"
                  />
                  <button type="submit" class="btn-primary">Accept</button>
                </form>
                <form action="/declineUser" method="post">
                  <input
                    type="hidden"
                    name="senderId"
                    th:value="${notification.senderId}"
                  />
                  <button type="submit" class="btn-secondary">Decline</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="/user-profile" class="w-10 rounded-full"
        ><img
          src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250"
          class="rounded-full"
      /></a>
    </div>
  </nav>
</header>
