<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <!-- <script th:src="@{/js/inventory.js}"></script> -->
    <title>Inventory | SupplySpy</title>
  </head>
  <body class="flex">
    <th:block th:insert="~{fragments/sidebar :: sidebar}"></th:block>
    <main class="flex-grow px-8 py-6">
      <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
      <div class="relative">
        <th:block
          th:insert="~{fragments/successMessage :: successMessage}"
        ></th:block>
        <th:block
          th:insert="~{fragments/errorMessage :: errorMessage}"
        ></th:block>
        <h1 class="mt-4">Inventory</h1>
        <button
          type="button"
          class="btn-primary mb-8"
          data-hs-overlay="#add-product-modal"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
          Add product
        </button>
        <th:block
          th:insert="~{fragments/inventory/addProductModal :: addProductModal}"
        ></th:block>

        <th:block th:insert="~{fragments/inventory/table :: table}"></th:block>
      </div>
    </main>
  </body>
  <script>
    function fetchSearchResults() {
      const query = document.getElementById("searchInput").value;
      fetch("/inventory/search?query=" + query)
        .then((response) => response.json())
        .then((data) => {
          const searchResultsDiv = document.getElementById("searchResults");
          searchResultsDiv.innerHTML = "";
          data.forEach((item) => {
            searchResultsDiv.innerHTML += `
              <tr>
                <td class="py-3 ps-4">
                  <div class="flex items-center h-5">
                    <input
                      type="checkbox"
                      class="border-gray-200 rounded text-orange-400 focus:ring-orange-400"
                    />
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">${item.product.name}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">${item.quantity}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">${item.location}</td>
                <td class="px-6 py-4 space-x-2 whitespace-nowrap text-end text-sm font-medium">
                  <button
                    type="button"
                    th:data-hs-overlay="#update-inventory-modal-${item.inventoryId}"
                    class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-orange-400 hover:text-orange-600 disabled:opacity-50 disabled:pointer-events-none"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    sec:authorize="hasRole('MANAGER')"
                    th:data-hs-overlay="#delete-inventory-modal-${item.inventoryId}"
                    class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-orange-400 hover:text-orange-600 disabled:opacity-50 disabled:pointer-events-none"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            `;
          });
        })
        .catch((error) =>
          console.error("Error fetching search results:", error)
        );
    }
  </script>
</html>
