<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>User Profile | SupplySpy</title>
  </head>
  <body class="flex">
    <th:block th:insert="~{fragments/sidebar :: sidebar}"></th:block>
    <main class="flex-grow px-8 py-6">
      <th:block th:insert="~{fragments/navbar :: navbar}"></th:block>
      <div class="relative">
        <th:block
          th:insert="~{fragments/successMessage :: successMessage}"
        ></th:block>
        <th:block
          th:insert="~{fragments/errorMessage :: errorMessage}"
        ></th:block>
        <h1 class="mt-4">User Profile</h1>
      </div>
    </main>
  </body>
</html>
